{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <!-- En-tête -->
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Bonjour {{ utilisateur.prenom_u }}</h1>
            <p class="fs-4">Voici votre prochain cours :</p>
        </div>
    </div>

    <!-- Carte du prochain cours -->
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm mt-3" style="border: 1px solid #cccccc; border-radius: 10px;">
                <div class="card-body text-center">
                    {% if cours %}
                        <h5 class="card-title fs-5">Cours du {{ cours.date_c.strftime('%d/%m/%Y') }}</h5>
                        <p class="card-text">Avec M.{{ cours.moniteur.nom_u }}</p>
                    {% else %}
                        <p class="text-muted">Aucun cours prévu pour le moment.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Bouton d'inscription -->
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <a href="/edt" class="btn btn-light shadow-sm" style="background-color: #fae9d8; border-radius: 10px; padding: 20px; font-size: 18px;">
                <span class="me-2">S'inscrire à un cours</span>
                <i class="bi bi-calendar2-plus-fill"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
