{% extends 'base.html' %}

{% block title %}Dashboard - Admin{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <!-- Titre principal -->
    <h1 class="mb-4">Gestion du Grand Galop</h1>

    <!-- Section des boutons d'administration -->
    <div class="row justify-content-center mt-4">
        <!-- Ajouter un poney -->
        <div class="col-md-4">
            <a href="/ajouter-poney" class="btn btn-light shadow-sm p-4 d-flex align-items-center justify-content-center" style="background-color: #fae9d8; border-radius: 10px; text-decoration: none; width: 250px; height: 150px;">
                <span class="me-3">Ajouter poney</span>
                <img src="{{ url_for('static', filename='img/horse.png') }}" alt="Cheval" style="width: 24px; height: 24px;">
            </a>
        </div>
        

        <!-- Ajouter un moniteur -->
        <div class="col-md-4">
            <a href="/ajouter-moniteur" class="btn btn-light shadow-sm p-4 d-flex align-items-center justify-content-center" style="background-color: #fae9d8; border-radius: 10px; text-decoration: none; width: 250px; height: 150px;">
                <span class="me-3">Ajouter moniteur</span>
                <i class="bi bi-person-fill"></i>
            </a>
        </div>

        <!-- Ajouter un cours -->
        <div class="col-md-4">
            <a href="/ajouter-cours" class="btn btn-light shadow-sm p-4 d-flex align-items-center justify-content-center" style="background-color: #fae9d8; border-radius: 10px; text-decoration: none; width: 250px; height: 150px;">
                <span class="me-3">Ajouter cours</span>
                <i class="bi bi-calendar2-plus-fill"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
