{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='authentification.css')}}">
{% endblock %}
{% block content %}
<div class="background">
    <img src="{{ url_for('static', filename='img/notre_magasin.jpg')}}" class="background_image" alt="Background">
    <div class="form_container mx-auto">
        <form class="form-horizontal" role="form" method ="POST"
            action ="{{ url_for ('login') }}">
            {{ form.hidden_tag() }}

            <!--Id de l'utilisateur-->
            <div class="form-group row justify-content-center">
                <label for="phone number" class="col-sm-10 mx-auto">
                    {{ form.id_a.label }} <span>*</span>
                </label>
                <div class="col-sm-10 mx-auto">
                    {{ form.phone_number(size=50, class_="form-control",
                                placeholder="Id de l'utilisateur") }}
                </div>
            </div>

            <!--Erreur si ce n'est pas que des chiffres pour le numéro-->
            {% if form.id_a.errors %}
                <ul class="list-group">
                    {% for e in form.id_a.errors %}
                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!--Mot de passe-->
            <div class="form-group row justify-content-center">
                <label for="password" class="col-sm-10 mx-auto">
                    {{ form.password.label }} <span>*</span>
                </label >
                <div class="col-sm-10 mx-auto">
                    {{ form.password(size=50, class_="form-control",
                    placeholder ="Mot de passe") }}
                </div>
            </div>

            <!--Erreur si mdp ne correspond pas-->
            {% if error == 'incorrect_password' %}
                    <div class="alert alert-danger" role="alert">
                        Mot de passe incorrect.
                    </div>
            {% endif %}

            <!--Les boutons-->
            <div class="form-group">

                <!--Bouton Se connecter-->
                <div class="col-sm-offset-2 col-sm-10 mx-auto">
                    <button type="submit" class="btn btn-dark btn-lg btn-block w-100">Se connecter</button>
                </div>

                <!--Bouton S'inscrire-->
                <div class="col-sm-offset-2 col-sm-10 mx-auto">
                    <a href="{{ url_for('register') }}" 
                    class="btn btn-light btn-lg btn-block w-100 inscrire">S'inscrire</a>
                </div>
            </div>
        </form >
    </div>
</div>
{% endblock %}