{% extends 'base.html' %}

{% block title %}Profil Utilisateur {% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center mb-4 bg-light py-4 mt-4">
        <div class="col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
        </div>
        <div class="col">
            <div>
                Bienvenue <strong>{{ utilisateur.prenom_u }}</strong><br>
                {% if cotisation %}
                    Votre cotisation est payée
                {% else %}
                    Votre cotisation n'est pas payée, merci de la payée rapidement
                {% endif %}
                <br>
                {{ jour }}
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex mb-5">
        <div class="p-5 rounded shadow w-100 main_profil">
            <div class="col-12 col-md-8 col-lg-6 mx-auto">
                <h2 class="mb-4">Profil</h2>
                <form method="POST" action="{{ url_for('profil') }}">
                    {{ form.hidden_tag() }}
                    <div class="row mb-3">
                        <!--Nom-->
                        <div class="col">
                            <label for="name" class="form-label d-flex align-items-center">
                                {{ form.name.label }} <span class="text-danger ms-1">*</span>
                            </label>
                            {{ form.name(size=50, class_="form-control",
                                        disabled=(True if not edit else False),
                                        placeholder="Entrez votre nom") }}
                            {% if form.name.errors %}
                                <ul class="list-group">
                                    {% for e in form.name.errors %}
                                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!--Prénom-->
                        <div class="col">
                            <label for="first_name" class="form-label d-flex align-items-center">
                                {{ form.first_name.label }} <span class="text-danger ms-1">*</span>
                            </label>
                            {{ form.first_name(size=50, class_="form-control",
                                            disabled=(True if not edit else False),
                                            placeholder="Entrez votre prénom") }}
                            {% if form.first_name.errors %}
                                <ul class="list-group">
                                    {% for e in form.first_name.errors %}
                                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <!--Date de naissance-->
                        <div class="col">
                            <label for="birth_date" class="form-label d-flex align-items-center">
                                {{ form.birth_date.label }} <span class="text-danger ms-1">*</span>
                            </label>
                            {{ form.birth_date(size=50, class_="form-control",
                                            disabled=(True if not edit else False),
                                            placeholder="Entrez votre date de naissance") }}
                            {% if form.birth_date.errors %}
                                <ul class="list-group">
                                    {% for e in form.birth_date.errors %}
                                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <!--Poids-->
                        <div class="col">
                            <label for="poids" class="form-label d-flex align-items-center">
                                {{ form.poids.label }} <span class="text-danger ms-1">*</span>
                            </label>
                            {{ form.poids(size=50, class_="form-control",
                                        disabled=(True if not edit else False),
                                        placeholder="Entrez votre poids") }}
                            {% if form.poids.errors %}
                                <ul class="list-group">
                                    {% for e in form.poids.errors %}
                                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <!--Email-->
                    <div class="row mb-3">
                        <div class="col">
                            <label for="email" class="form-label d-flex align-items-center">
                                {{ form.email.label }} <span class="text-danger ms-1">*</span>
                            </label>
                            {{ form.email(size=50, class_="form-control",
                                        disabled=(True if not edit else False),
                                        placeholder="Entrez votre email") }}
                            {% if form.email.errors %}
                                <ul class="list-group">
                                    {% for e in form.email.errors %}
                                        <li class="list-group-item list-group-item-danger">{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="mb-3 ms-auto">
                            {% if edit %}
                                <a href="{{ url_for('profil') }}" class="btn btn-dark">Annuler</a>
                                <input class="btn btn-dark" type="submit" name="save_profile" value="Enregistrer">
                            {% else %}
                                <a href="{{ url_for('profil', edit=True) }}" class="btn btn-dark">Modifier</a>
                            {% endif %}
                        </div>
                    </div>
                </form>

                <!-- Formulaire de changement de mot de passe -->
                <h2 class="mb-4">Changer mon mot de passe</h2>
                <form method="POST" action="{{ url_for('profil') }}">
                    {{ mdp_f.hidden_tag() }}

                    <div class="mb-3">
                        <label for="old_password" class="form-label d-flex align-items-center">
                            {{ mdp_f.old_password.label }} <span class="text-danger ms-1">*</span>
                        </label>
                        {{ mdp_f.old_password(class_="form-control w-100", placeholder="Entrez votre ancien mot de passe") }}
                    </div>
                    {% if mdp_f.old_password.errors %}
                        <ul class="list-group">
                            {% for e in mdp_f.old_password.errors %}
                                <li class="list-group-item list-group-item-danger">{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="mb-3">
                        <label for="new_password" class="form-label d-flex align-items-center">
                            {{ mdp_f.new_password.label }} <span class="text-danger ms-1">*</span>
                        </label>
                        {{ mdp_f.new_password(class_="form-control w-100", placeholder="Entrez votre nouveau mot de passe") }}
                    </div>
                    {% if mdp_f.new_password.errors %}
                        <ul class="list-group">
                            {% for e in mdp_f.new_password.errors %}
                                <li class="list-group-item list-group-item-danger">{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="mb-3">
                        <label for="confirm_password" class="form-label d-flex align-items-center">
                            {{ mdp_f.confirm_password.label }} <span class="text-danger ms-1">*</span>
                        </label>
                        {{ mdp_f.confirm_password(class_="form-control w-100", placeholder="Confirmez votre nouveau mot de passe") }}
                    </div>
                    {% if mdp_f.confirm_password.errors %}
                        <ul class="list-group">
                            {% for e in mdp_f.confirm_password.errors %}
                                <li class="list-group-item list-group-item-danger">{{ e }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="d-flex">
                        <div class="mb-3 ms-auto">
                            {{ mdp_f.change_password(class_="btn btn-dark") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
