{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="top-info">
    <h1 class="text-center my-3">Création des moniteur</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>
<div class="container-fluid w-75 bg-light justify-content-center align-items-center">
    <form method="POST" novalidate class="form-horizontal" enctype="multipart/form-data" role="form" action="{{ url_for('add_moniteur') }}">
        {{ form.hidden_tag() }} <!-- CSRF Token -->
        <div class="form-group">
            <label for="name">Nom du moniteur :</label>
            {{ form.name(class="form-control", id="_po", placeholder="Entrez le nom du moniteur") }}
        </div>

        <div class="form-group">
            <label for="first_name">first_name :</label>
            {{ form.first_name(class="form-control", id="first_name", placeholder="Entrez le prenom") }}
        </div>

        <div class="form-group">
            <label for="email">email :</label>
            {{ form.email(class="form-control", id="email", placeholder="Entrez l'email") }}
        </div>

        <div class="form-group">
            <label for="birth_date">birth_date :</label>
            {{ form.birth_date(class="form-control", id="birth_date", placeholder="Entrez l'anniversaire") }}
        </div>

        <div class="form-group">
            <label for="poids">poids :</label>
            {{ form.poids(class="form-control", id="poids", placeholder="Entrez le poids") }}
        </div>

        <div class="form-group">
            <label for="password">password :</label>
            {{ form.password(class="form-control", id="password", placeholder="Entrez le mdp") }}
        </div>

        <div class="form-group">
            <label for="password_check">password_check :</label>
            {{ form.password_check(class="form-control", id="password_check", placeholder="Entrez le mdp") }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Ajouter le moniteur</button>
    </form>
</div>
{% endblock %}
