{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="top-info">
    <h1 class="text-center my-3">Création des poneys</h1>
    <hr class="w-25 mx-auto bg-dark bar"/>
</div>

<div class="container-fluid w-75 bg-light justify-content-center align-items-center">
    <form method="POST" novalidate class="form-horizontal" enctype="multipart/form-data" role="form" action="{{ url_for('add_poney') }}">
        {{ form.hidden_tag() }} <!-- CSRF Token -->
        <div class="form-group">
            <label for="nom_po">Nom du poney :</label>
            {{ form.nom_po(class="form-control", id="id_po", placeholder="Entrez le nom du poney") }}
        </div>

        <div class="form-group">
            <label for="charge">charge :</label>
            {{ form.charge(class="form-control", id="charge", placeholder="Entrez le charge") }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Ajouter le poney</button>
    </form>
</div>
{% endblock %}
